out/
.DS_Store
.idea/
GraphColouring/GraphColouring.iml
GraphColouring/src/ac/ncl/gcol/data/gengraphs/ptest
GraphColouring/src/ac/ncl/gcol/data/gengraphs/postgen
GraphColouring/src/ac/ncl/gcol/results/*